<div class = 'container splash'>
    <h1 id= 'logo'>Cashup</h1>
    <%=button_to 'Log In', new_user_session_path, class: 'btn bg-main ' %>
    <%=button_to 'Sign Up', new_user_registration_path, method: :get, class: 'btn' %>
</div>