/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playball&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style-type: none;
}

body {
  background-color: #f2f4f6;
  color: #434b64;
}

#logo {
  font-size: 4em;
  font-family: 'Playball', cursive;
  letter-spacing: 3px;
  color: #434b64;
  text-align: center;
  margin-bottom: 25%;
}

p-2 {
  padding: 1.5rem !important;
}

.bg-main {
  background-color: #3778c2;
}

.left-arrow {
  background-color: transparent;
  filter: invert(100%);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 13px;
}

.btn-bg {
  background-color: #5fb532;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_user {
  display: flex;
  gap: 11px;
  flex-direction: column;
  width: 30%;
}

.actions .btn-bg {
  width: 100%;
}

.action {
  outline: none;
  border: none;
  background-color: inherit;
  font-weight: normal;
}

.button_to {
  width: 50%;
}

.button_to .btn {
  width: 100%;
}

.splash-login form {
  display: flex;
  gap: 11px;
  flex-direction: column;
  width: 100%;
}

.log-in input {
  width: 95%;
  outline: none;
  border: none;
  padding: 12px 0;
  background-color: inherit;
}

.log-in input[type="email"],
.log-in input[type="text"],
.log-in input[name="user[password]"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.log-in input::placeholder {
  opacity: 0.7;
}

p.notice {
  margin: 0;
}

p.alert {
  margin: 0;
  padding: 0;
}

#forgot a {
  display: block;
  text-align: center;
  color: rgb(181, 180, 180);
  text-decoration: none;
  font-size: 18px;
}

.add-category-btn {
  background-color: #5fb532;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-category-btn a {
  background-color: #5fb532;
  color: #fff;
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;
  align-self: center;
}

#groups ul {
  margin: 1rem 2rem;
  padding: 0;
}

#groups ul > li {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.category-details-container {
  display: flex;
  gap: 1rem;
}

.category-details-container a > img {
  width: 150px;
  height: 150px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.category-title-date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  padding: 0.5rem;
}

#title a {
  display: block;
  color: #b5b4b4;
  text-decoration: none;
  font-size: 18px;
}

#date {
  display: block;
  color: #b5b4b4;
  text-decoration: none;
  font-size: 10px;
  margin: 0;
}

.amount {
  font-size: large;
}

.delete-btn-container {
  width: 100%;
  padding: 1%;
}

.delete-btn-container .button_to {
  width: 100%;
}

.delete-btn-container button {
  width: 100%;
  background: #5fb532;
  border-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn-container button > img {
  color: #5fb532;
  margin: 10px;
  background-color: transparent;
  filter: invert(100%);
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  background-color: #fff;
}

.total-title {
  display: block;
  text-align: center;
  color: rgb(181, 180, 180);
  text-decoration: none;
  font-size: 18px;
}

.total p {
  margin: 2%;
  font-size: x-large;
}

.form-btn {
  width: 70%;
}

.form-btn input {
  background-color: #5fb532;
  color: #fff;
  border: 1px solid #fff;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-input-container input {
  width: 70%;
  padding: 0.5rem;
}

.no-transaction {
  padding: 1% 3%;
}

.no-transaction h4 {
  font-weight: bold;
}

.no-transaction p {
  display: block;
  color: rgb(181, 180, 180);
  text-decoration: none;
  font-size: 18px;
}

.form-input-container select {
  width: 70%;
}

.form-input-container h4 {
  width: 70%;
  padding: 0.3rem;
}

.entities-form {
  padding: 1rem;
}

#tansaction-btn {
  width: 100%;
}
