/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

//  .bg-body-tertiary {
//   --bs-bg-opacity: 1;
//   background-color: #000;
// }

 #logo {
    background-image:
    -webkit-repeating-linear-gradient(top,
      hsla(0,0%,100%,0) 0%,
      hsla(0,0%,100%,0) 3%,
      hsla(0,0%,100%,.1) 4.5%),
    -webkit-repeating-linear-gradient(top, 
      hsla(0,0%,0%,0) 0%,
      hsla(0,0%,0%,0) 2%,
      hsla(0,0%,0%,.03) 2.5%),
    -webkit-repeating-linear-gradient(top,
      hsla(0,0%,100%,0) 0%,
      hsla(0,0%,100%,0) 0.6%,
      hsla(0,0%,100%,.15) 1.2%),
    linear-gradient(80deg,
      #a6a6a6 0%,
      #d9d9d9 45%,
      #e0e0e0 55%,
      #e0e0e0 65%,
      #d9d9d9 75%,
      #a6a6a6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    font-size: 1.7em;
    color: #aaa9ad;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
 }

 #logo:hover {
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    text-decoration: none;
 }
 
 .nav-link, .navbar-nav .nav-link.active{
    color: #EDFFEC;
 }

 .btn-outline-warning {
  --bs-btn-color: #ffdd78;
  --bs-btn-border-color: #ffdd78;
  --bs-btn-hover-color: #2A9D8F;
  --bs-btn-hover-bg: #ffdd78;
  --bs-btn-hover-border-color: #ffc107;
 }

 .center {
  text-align: center;
 }

 .jumbotron {
  background-image: asset-url('cover-image002.png');
  background-size: cover;
  height: 300px;
 }

 .jumbotron h1,h2 {
  color: #EDFFEC;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
 }

 .btn-bg {
  background-color: #1e766b;
 }

 .blog {
  margin-top: 30px;
 }